[Unit]
Description=Periodically synchronize SSMS storage usage

[Timer]
OnBootSec=30s
OnUnitActiveSec=1min
RandomizedDelaySec=0
Persistent=true
Unit=storage-usage-sync.service

[Install]
WantedBy=timers.target
